.wrapper {
    background: #Ffffff;
}
img {
    border: 1px solid black;
}
.product-detail {
    margin: .5rem;
    margin-top: 0;
    padding: 0.25rem;
    background: #Ffffff;
    transition: box-shadow 0.3s ease; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);

    &__content {
        margin: .5rem;
        background: #F5F5f5;
        position: relative;

        &__child {
            flex: 1;

            .shipment-no {
               color: purple;   
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: .85rem;
            color: skyblue; 
            cursor: pointer;
            font-weight: 600;
          }
    }

    &__records {
        margin: .5rem;

        &__count {
            padding: .25rem;
            color: skyblue;
            font-size: 1.25rem;
            border-bottom: 4px solid skyblue;
            display:inline-block;
            font-weight: 500;
        }

        &__product-card {
            flex-wrap: wrap;
            width: 48%;
            padding: 1rem;
            border-bottom: 1px solid rgb(77, 76, 76, .3);
            
            &__wrapper {
               margin-left: 1rem; 

               .description {
                color: skyblue;
                font-size: 1.1rem;
                font-weight: 500;
              }
            }
        }

        @media only screen and (max-width: 480px) {
            &__product-card {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .hide-sm {
        display: none;
    }
  }


