<div class="wrapper">
  <app-sub-header [iconValue]="'close'" [userString]="'Shipement search result'"></app-sub-header>
  <div>
    <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
    <mat-icon (click)="''">filter_alt</mat-icon>
  </div>
  @for (item of shipments; track item.OrderNo) {
    <div class="flex-nowrap shipment-detail">
        <div class="shipment-detail__child">
           <div class="order">{{item.OrderNo}}</div>
           <div>{{item.ShipmentLines.TotalNumberOfRecords}} {{'shipments.shipmentlines.totalNumberOfRecords' | translate }}</div>
           <div>{{'shipments.shipmentlines.totalNumberOfRecords' | translate }}: {{item.ScacAndService}}</div>
           <div>{{'shipments.shipment.scacAndService' | translate}} <span class="shipmentno" (click)="navigateToShipmentDetail(item.ShipmentNo)">{{item.ShipmentNo}}</span></div>
        </div>
        <div class="shipment-detail__child">
            <div class="status">{{item.Status}}</div>
            <div>{{'shipments.Shipment.assignedToUserId' | translate}} {{item.AssignedToUserId}}</div>
            <div>{{'shipments.Shipment.expectedShipmentDate' | translate}} {{item.ExpectedShipmentDate}}</div>
        </div>
        <div class="shipment-detail__child">
            <div>{{'shipments.shipment.customerinfo' | translate}}</div>
            <div>{{item.BillToAddress.FirstName}} {{item.BillToAddress.LastName}}</div>
            <div>{{item.BillToAddress.DayPhone}}</div>
            <div>{{item.BillToAddress.EMailID}}</div>
        </div>
    </div>
  }

</div> 